;; This is the source for 3.1.5 CONNACK packet diagram of MQTT-SN v2.0.
(def boxes-per-row 9)
(def box-width 90)
(def left-margin 20)
(defattrs :plain {:font-family "Arial" :font-size 18})
(defattrs :cursive {:font-family "Arial" :font-size 18 :font-style "italic"})
(defattrs :bg-lightblue {:fill "#cfe2f3"})
(defattrs :bg-mediumgray {:fill "#dddddd"})
(defattrs :bg-lightgray {:fill "#eeeeee"})
;;(defattrs :left {:text-anchor "start"})
(defattrs :byte {:span 8})
(defattrs :optional-byte [:bg-lightgray :byte])
(defattrs :field-name [:bold {:span 9 :text-anchor "start"}])
(defattrs :byte-left {:span 8 :text-anchor "start"})
(defattrs :optional-byte-left [:bg-lightgray :byte-left])

(defn row-header-fn
  [{:keys [address gap?]}]
  (let [addr-label (str " ")]
    (text addr-label)))

(draw-box (text "Byte \\ Bit") :bg-lightblue)
(doseq [val (str/split "7,6,5,4,3,2,1,0" #",")]
  (draw-box (text val) :bg-lightblue))

(draw-box (text "1"))
(draw-box "Length" :byte-left)

(draw-box (text "2"))
(draw-box "Packet Type" :byte-left)

(draw-box (text "Connack Flags") [:bg-mediumgray :field-name])

(draw-box (text ""))
(draw-box "Reserved" [:bg-lightgray {:span 4}])
(draw-box "Auth" [:bg-lightgray {:span 1}])
(draw-box "Server KA" [:bg-lightgray {:span 1}])
(draw-box "Sess Exp" [:bg-lightgray {:span 1}])
(draw-box "Sess Pres" [:bg-lightgray {:span 1}])

(draw-box (text "3"))
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "X" {:span 1})
(draw-box "X" {:span 1})
(draw-box "X" {:span 1})
(draw-box "X" {:span 1})

(draw-box (text "4"))
(draw-box "Packet Identifier MSB" :byte-left)

(draw-box (text "5"))
(draw-box "Packet Identifier LSB" :byte-left)

(draw-box (text "6"))
(draw-box "Reason Code" :byte-left)

(draw-box (text "Session Expiry Interval" :plain [:cursive " (S=4 or 0) - only present when Sess Exp flag is set"]) [:bg-mediumgray :field-name])

(draw-box (text "7") :bg-lightgray)
(draw-box "Session Expiry Interval MSB" :optional-byte-left)

(draw-box (text "8") :bg-lightgray)
(draw-box "Session Expiry Interval" :optional-byte-left)

(draw-box (text "9") :bg-lightgray)
(draw-box "Session Expiry Interval" :optional-byte-left)

(draw-box (text "10") :bg-lightgray)
(draw-box "Session Expiry Interval LSB" :optional-byte-left)

(draw-box (text "Server Keep Alive" :plain [:cursive " (K=2+S or S) - only present when Server KA flag is set"]) [:bg-mediumgray :field-name])
(draw-box (text "7+S") :bg-lightgray)
(draw-box "Server Keep Alive MSB" :optional-byte-left)

(draw-box (text "8+S") :bg-lightgray)
(draw-box "Server Keep Alive LSB" :optional-byte-left)

(draw-box (text "Authentication Data" :plain [:cursive " (A=3+M+D+K or K) - only present when Auth flag is set"]) [:bg-mediumgray :field-name])

(draw-box (text "7+K") :bg-lightgray)
(draw-box "Authentication Method Length" :optional-byte-left)

(draw-box (text "8+K") :bg-lightgray)
(draw-gap "Authentication Method (M)" :optional-byte-left)

(draw-box (text "8+K+M") :bg-lightgray)
(draw-box "Authentication Data Length MSB" :optional-byte-left)

(draw-box (text "9+K+M") :bg-lightgray)
(draw-box "Authentication Data Length LSB" :optional-byte-left)

(draw-box (text "10+K+M") :bg-lightgray)
(draw-gap "Authentication Data (D)" :optional-byte-left)

(draw-box (text "7+A") :bg-lightgray)
(draw-gap (text "Assigned Client Identifier (I) - optional") :optional-byte-left)

(draw-bottom)
