;; This is the source for 3.1.23 DISCONNECT packet diagram of MQTT-SN v2.0.
(def boxes-per-row 9)
(def box-width 90)
(def huge-height 180) ;; vertically labeled boxes
(def left-margin 20)
(defattrs :plain {:font-family "Arial" :font-size 18})
(defattrs :cursive {:font-family "Arial" :font-size 18 :font-style "italic"})
(defattrs :tiny {:white-space "collapse balance" :font-family "Arial" :font-size 10})
(defattrs :bg-lightblue {:fill "#cfe2f3"})
(defattrs :bg-mediumgray {:fill "#dddddd"})
(defattrs :bg-lightgray {:fill "#eeeeee"})
(defattrs :left {:text-anchor "start"})

(defattrs :byte {:span 8})
(defattrs :optional-byte [:bg-lightgray :byte])
(defattrs :field-name [:bold {:span 9 :text-anchor "start"}])
(defattrs :byte-left {:span 8 :text-anchor "start"})
(defattrs :optional-byte-left [:bg-lightgray :byte-left])

(defn row-header-fn
  [{:keys [address gap?]}]
  (let [addr-label (str " ")]
    (text addr-label)))

(draw-box (text "Byte \\ Bit") :bg-lightblue)
(doseq [val (str/split "7,6,5,4,3,2,1,0" #",")]
  (draw-box (text val) :bg-lightblue))

(draw-box "1")
(draw-box "Length" :byte-left)

(draw-box "2")
(draw-box "Packet Type" :byte-left)

(draw-box (text "Disconnect Flags") [:bg-mediumgray :field-name])

(draw-box (text ""))
(draw-box "Reserved" [:bg-lightgray {:span 4}])

(draw-box "Reason C" [:bg-lightgray {:span 1}])
(draw-box "Sess Exp" [:bg-lightgray {:span 1}])
(draw-box "PacketId" [:bg-lightgray {:span 1}])
(draw-box "Retain R" [:bg-lightgray {:span 1}])

(draw-box "3")
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "X" {:span 1})
(draw-box "X" {:span 1})
(draw-box "X" {:span 1})
(draw-box "X" {:span 1})

(draw-box (text "Packet Identifier" :plain [:cursive " (I=2 or 0) - only present when PacketId flag is set"]) [:bg-mediumgray :field-name])

(draw-box "4" :bg-lightgray)
(draw-box "Packet Identifier MSB" :optional-byte-left)

(draw-box "5" :bg-lightgray )
(draw-box (text "Packet Identifier LSB") :optional-byte-left)

(draw-box (text "Session Expiry Interval" :plain [:cursive " (S=4+I or I) - only present when Sess Exp flag is set"]) [:bg-mediumgray :field-name])

(draw-box "4+I" :bg-lightgray)
(draw-box (text "Session Expiry Interval MSB") :optional-byte-left)

(draw-box "5+I" :bg-lightgray)
(draw-box (text "Session Expiry Interval") :optional-byte-left)

(draw-box "6+I" :bg-lightgray)
(draw-box (text "Session Expiry Interval") :optional-byte-left)

(draw-box "7+I" :bg-lightgray)
(draw-box (text "Session Expiry Interval LSB") :optional-byte-left)

(draw-box (text "Reason Code" :plain [:cursive " (R=1+S or S) - only present when Reason C flag is set"]) [:bg-mediumgray :field-name])
(draw-box "4+S" :bg-lightgray)
(draw-box (text "Reason Code") :optional-byte-left)

(draw-box "4+R" :bg-lightgray)
(draw-gap (text "Reason String - optional") :optional-byte)

(draw-bottom)
