;; 
(def boxes-per-row 12)
(def box-width 80)
(def left-margin 20)
(defattrs :plain {:font-family "Arial" :font-size 18})
(defattrs :small {:font-family "Arial" :font-size 14})
(defattrs :cursive {:font-family "Arial" :font-size 18 :font-style "italic"})
(defattrs :bg-lightblue {:fill "#cfe2f3"})
(defattrs :bg-mediumgray {:fill "#dddddd"})
(defattrs :bg-lightgray {:fill "#eeeeee"})
;;(defattrs :left {:text-anchor "start"})
(defattrs :field-name {:span 12 :text-anchor "start"})

(defn row-header-fn
  [{:keys [address gap?]}]
  (let [addr-label (str " ")]
    (text addr-label)))

(draw-box (text "Byte \\ Bit") :bg-lightblue)
(draw-box (text "Description") [:bg-lightblue {:span 3}])
(doseq [val (str/split "7,6,5,4,3,2,1,0" #",")]
  (draw-box (text val) :bg-lightblue))

(draw-box (text "1") {:text-anchor "start"})
(draw-box "Length (30)" {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})

(draw-box (text "2") {:text-anchor "start"})
(draw-box "Packet Type (5)" {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})

(draw-box "Connect Flags" :field-name)
(draw-box (text ""))
(draw-box (text "Reserved (0)") {:span 11 :text-anchor "start"})
(draw-box (text ""))
(draw-box (text "Default Awake Messages (0)") {:span 11 :text-anchor "start"})
(draw-box (text ""))
(draw-box (text "Auth Flag (1)") {:span 11 :text-anchor "start"})
(draw-box (text ""))
(draw-box (text "Will Flag (0)") {:span 11 :text-anchor "start"})
(draw-box (text "3") {:text-anchor "start"})
(draw-box (text "Clean Start (1)") {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})

(draw-box (text "4") {:text-anchor "start"})
(draw-box "Packet Identifier MSB (0)" {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})

(draw-box (text "5") {:text-anchor "start"})
(draw-box "Packet Identifier LSB (1)" {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})

(draw-box (text "6") {:text-anchor "start"})
(draw-box "Keep Alive MSB (0)" {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})

(draw-box (text "7") {:text-anchor "start"})
(draw-box "Keep Alive LSB (60)" {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})

(draw-box (text "8") {:text-anchor "start"})
(draw-box "Max Packet Size MSB (0)" {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})

(draw-box (text "9") {:text-anchor "start"})
(draw-box "Max Packet Size LSB (100)" {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})

(draw-box "Auth Method (MQTT-BASIC)" :field-name)
(draw-box (text "10") {:text-anchor "start"})
(draw-box "Auth Method Length (10)" {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})

(draw-box (text "11") {:text-anchor "start"})
(draw-box "'M'" {:span 3 :text-anchor "middle"})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})

(draw-box (text "12") {:text-anchor "start"})
(draw-box "'Q'" {:span 3 :text-anchor "middle"})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})

(draw-gap)

(draw-box (text "19") {:text-anchor "start"})
(draw-box "'I'" {:span 3 :text-anchor "middle"})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})

(draw-box (text "20") {:text-anchor "start"})
(draw-box "'C'" {:span 3 :text-anchor "middle"})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})

(draw-box "Authentication Data (MQTT User Name, MQTT Password)" :field-name)
(draw-box (text "21") {:text-anchor "start"})
(draw-box "Auth Data Length MSB (0)" {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})

(draw-box (text "22") {:text-anchor "start"})
(draw-box "Auth Data Length LSB (7)" {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})

(draw-box "MQTT User Name (M)" :field-name)
(draw-box (text "23") {:text-anchor "start"})
(draw-box (text "MQTT User Name Length MSB (0)" :small) {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})

(draw-box (text "24") {:text-anchor "start"})
(draw-box (text "MQTT User Name Length LSB (1)" :small) {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})

(draw-box (text "25") {:text-anchor "start"})
(draw-box "'M'" {:span 3 :text-anchor "middle"})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})

(draw-box "MQTT Password (PW)" :field-name)
(draw-box (text "26") {:text-anchor "start"})
(draw-box (text "MQTT Password Length MSB (0)" :small) {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})

(draw-box (text "27") {:text-anchor "start"})
(draw-box (text "MQTT Password Length LSB (2)" :small) {:span 3 :text-anchor "start"})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})

(draw-box (text "28") {:text-anchor "start"})
(draw-box "'P'" {:span 3 :text-anchor "middle"})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})

(draw-box (text "29") {:text-anchor "start"})
(draw-box "'W'" {:span 3 :text-anchor "middle"})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})

(draw-box "Client Identifier (C)" :field-name)

(draw-box (text "30") {:text-anchor "start"})
(draw-box "'C'" {:span 3 :text-anchor "middle"})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "1" {:span 1})
(draw-box "1" {:span 1})

(draw-bottom)
