;; This is the source for 3.1.21 PINGREQ packet diagram of MQTT-SN v2.0.
(def boxes-per-row 9)
(def box-width 90)
(def left-margin 20)
(defattrs :plain {:font-family "Arial" :font-size 18})
(defattrs :cursive {:font-family "Arial" :font-size 18 :font-style "italic"})
(defattrs :bg-lightblue {:fill "#cfe2f3"})
(defattrs :bg-mediumgray {:fill "#dddddd"})
(defattrs :bg-lightgray {:fill "#eeeeee"})
;;(defattrs :left {:text-anchor "start"})
(defattrs :byte {:span 8})

(defn row-header-fn
  [{:keys [address gap?]}]
  (let [addr-label (str " ")]
    (text addr-label)))

(draw-box (text "Byte \\ Bit") :bg-lightblue)
(doseq [val (str/split "7,6,5,4,3,2,1,0" #",")]
  (draw-box (text val) :bg-lightblue))

(draw-box (text "1"))
(draw-box "Length" :byte)

(draw-box (text "2"))
(draw-box "Packet Type" :byte)

(draw-box (text "3"))
(draw-box "Packet Identifier MSB" :byte)

(draw-box (text "4"))
(draw-box "Packet Identifier LSB" :byte)

(draw-box (text "5 ... N") :bg-lightgray)
(draw-gap (text "Client Identifier [OPT]" :cursive) [:bg-lightgray :byte])

(draw-bottom)
