;; This is the source for 3.1.25 Protection Encapsulation diagram of MQTT-SN v2.0.
(def boxes-per-row 9)
(def box-width 100)
(def left-margin 20)
;;(defattrs :plain {:font-family "Arial" :font-size 18})
(defattrs :cursive {:font-family "Arial" :font-size 18 :font-style "italic"})
(defattrs :normal {:font-family "Arial" :font-size 18 :font-style "normal"})
(defattrs :bg-lightblue {:fill "#cfe2f3"})
(defattrs :bg-mediumgray {:fill "#dddddd"})
(defattrs :bg-lightgray {:fill "#eeeeee"})
;;(defattrs :left {:text-anchor "start"})
(defattrs :medium {:font-family "Arial" :font-size 14})
(defattrs :bit {:span 1})
(defattrs :byte {:span 8})
(defattrs :optional-byte [:bg-lightgray :byte])

(defn row-header-fn
  [{:keys [address gap?]}]
  (let [addr-label (str " ")]
    (text addr-label)))

(draw-box (text "Byte \\ Bit") :bg-lightblue)
(doseq [val (str/split "7,6,5,4,3,2,1,0" #",")]
  (draw-box (text val) :bg-lightblue))

(draw-box "1")
(draw-box "Length" :byte)

(draw-box "2")
(draw-box "Packet Type" :byte)

(draw-box nil)
(draw-box "PROTECTION FLAGS" [:bg-mediumgray :byte])

(draw-box nil)
(draw-box (text "Auth Tag Length" :medium) [:bg-lightgray {:span 4}])
(draw-box (text "Crypto Material Length (C)" :medium) [:bg-lightgray {:span 2}])
(draw-box (text "Monotonic Counter Length (D)" :medium) [:bg-lightgray {:span 2}])

(draw-box "3")
(draw-box "X" :bit)
(draw-box "X" :bit)
(draw-box "X" :bit)
(draw-box "X" :bit)
(draw-box "X" :bit)
(draw-box "X" :bit)
(draw-box "X" :bit)
(draw-box "X" :bit)

(draw-box "4")
(draw-box "Protection Scheme" :byte)

(draw-box "5:12")
(draw-gap "Sender Id" :byte)

(draw-box "13:16")
(draw-gap "Random" :byte)

(draw-box "17:17+C" :bg-lightgray)
(draw-gap (text "Crypto Material [OPT]" :cursive [:normal " (E=17 if C == 0 else 17+C+1)"]) :optional-byte)

(draw-box "E:E+D" :bg-lightgray)
(draw-gap (text "Monotonic Counter [OPT]" :cursive  [:normal " (F=E if D == 0 else E+D+1)"]) :optional-byte)

(draw-box "F:M")
(draw-gap "MQTT SN packet" :byte)

(draw-box "M+1:N")
(draw-gap "Authentication Tag" :byte)

(draw-bottom)
