;; This is the source for 3.1.10 PUBWOS packet diagram of MQTT-SN v2.0.
(def boxes-per-row 9)
(def box-width 90)
(def left-margin 20)
(defattrs :plain {:font-family "Arial" :font-size 18})
(defattrs :cursive {:font-family "Arial" :font-size 18 :font-style "italic"})
(defattrs :bg-lightblue {:fill "#cfe2f3"})
(defattrs :bg-mediumgray {:fill "#dddddd"})
(defattrs :bg-lightgray {:fill "#eeeeee"})
(defattrs :left {:text-anchor "start"})
(defattrs :byte [{:span 8} :left])
(defattrs :field-name [{:span 9} :left])

(defn row-header-fn
  [{:keys [address gap?]}]
  (let [addr-label (str " ")]
    (text addr-label)))

(draw-box (text "Byte \\ Bit") :bg-lightblue)
(doseq [val (str/split "7,6,5,4,3,2,1,0" #",")]
  (draw-box (text val) :bg-lightblue))

(draw-box "1")
(draw-box "Length" :byte)

(draw-box "2")
(draw-box "Packet Type" :byte)

(draw-box (text "PUBWOS Flags") [:bg-mediumgray :field-name])

(draw-box nil)
(draw-box "Reserved" [:bg-lightgray {:span 3}])
(draw-box "Retain" [:bg-lightgray {:span 1}])
(draw-box "Reserved" [:bg-lightgray {:span 2}])
(draw-box "Topic Type" [:bg-lightgray {:span 2}])

(draw-box "3")
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "X" {:span 1})
(draw-box "0" {:span 1})
(draw-box "0" {:span 1})
(draw-box "X" {:span 1})
(draw-box "X" {:span 1})

(draw-box "4")
(draw-box "Topic Alias or Topic Name Length MSB" :byte)

(draw-box "5")
(draw-box "Topic Alias or Topic Name Length LSB" :byte)

(draw-box "6")
(draw-gap (text "Topic Name" :plain [:cursive " (N) - only present when Topic Type is Topic Name"]) [:bg-lightgray])

(draw-box "6+N")
(draw-gap "Payload" :byte)


(draw-bottom)
