;; This is the source for the packet structure diagram
(def boxes-per-row 9)
(def box-width 90)
(def left-margin 20)
(defattrs :plain {:font-family "Arial" :font-size 18})
(defattrs :cursive {:font-family "Arial" :font-size 18 :font-style "italic"})
(defattrs :bg-lightblue {:fill "#cfe2f3"})
(defattrs :left {:text-anchor "start"})
(defattrs :byte [:left {:span 8}])

(defn row-header-fn
  [{:keys [address gap?]}]
  (let [addr-label (str "")]
    (text addr-label)))

(draw-box (text "Control Packet Header, present in all MQTT-SN Control Packets") {:span 9})

(draw-box (text "Control Packet Variable Part, present in some MQTT-SN Control Packets") {:span 9})

(draw-bottom)
